<% if params[:controller] == 'about' %>
	<div class="well">
		<h3>Location Info</h3>
		<ul>
			<li>mojBookStore</li>
			<li>Neka Ulica 3</li>
			<li>Zagreb, 10090</li>
			<li>Phone: (+385) 01/5555-555</li>
			<li>Email: mojemail@gmail.com</li>
		</ul>
	</div>
<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
	<div class="list-group">
		<% @categories.each do |category| %>
			<%= link_to category.name, category_path(category.id), class:'list-group-item' %>
		<% end %>
	</div>
<% end %>